<div class="ui main container">
    <div class="column">
        <div class="ui active inverted dimmer" *ngIf="loading">
            <div class="ui medium text loader">Loading</div>
        </div>

        <div class="ui grid">

            <div class="row">
                <div class="six wide column">
                    <span class="ui header">
                        Add Bucketlist
                    </span>
                </div>
                <div class="right aligned ten wide column">
                    <a routerLink="/bucketlists" class="ui tiny violet button">
                        <i class="caret left icon"></i>
                        Back
                    </a>
                </div>
            </div>

            <div class="ui divider"></div>

            <div class="row">
                <div class="column">
                    <form class="ui four wide column form" (ngSubmit)="createBucketlist()">
                        <div class="field">
                            <input type="email" name="email" [(ngModel)]="payload.name"
                                   placeholder="Bucketlist Name" required>
                        </div>
                        <button class="ui violet right align button" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
