<div class="ui main container">
    <div class="column">
        <div class="ui grid">

            <div class="row">
                <div class="six wide column">
                    <span class="ui header">
                        Error Page
                    </span>
                </div>
                <div class="right aligned ten wide column">
                    <a routerLink="/bucketlists" class="ui tiny violet button">
                        Home
                    </a>
                </div>
            </div>

            <div class="ui divider"></div>

            <div class="row">
                <div class="column">
                    <h3>404: Page not found!</h3>
                </div>
            </div>

        </div>
    </div>
</div>
