<div class="ui stackable grid padded full-height">
    <div class="sixteen wide center aligned row">
        <div class="sixteen wide middle aligned column">
            <div class="ui centered padded grid">
                <div class="ui four wide column form segment">
                    <div class="field">
                        <div class="field centered">
                            <img src="../../../../static/images/logo.png" alt="Bucketlist"
                                 class="ui middle aligned tiny image logo-name">
                            <span class="logo-name">Bucketlist</span>
                        </div>
                    </div>
                    <div class="field">
                        <input type="email" name="email" placeholder="Email" class="centered">
                    </div>
                    <div class="field">
                        <input type="password" name="password" placeholder="Password" class="centered">
                    </div>
                    <button class="ui green fluid button" type="submit">Sign in</button>

                    <div class="pad-top-2 centered link">
                        <i class="help big yellow circle icon"></i>
                        <a href="#" class="link">Sign up for account!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
